@model DrugData.Models.ViewModels.SideEffectViewModel

<form asp-action="Create" method="POST">
    <div asp-validation-summary="All" class="text-danger"></div>
    <h2>
        Nova nuspojava
    </h2>
    <div class="form-group">
        <label asp-for="Name">Naziv </label>
        <input asp-for="Name" id="da" class="form-control" />

    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-primary">Spremi</button>
        <a asp-action="Index">
            <button type="button" class="btn btn-secondary">Odustani</button>
        </a>
    </div>
</form>
<style>
    #da {
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
</style>
