@model DrugData.Models.ViewModels.SideEffectViewModel

<!DOCTYPE html>
<html lang="eng">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/css/StyleSheet.css">
    <link rel="stylesheet" type="text/css" href="~/css/038%20Grid.css"> <!--grid preuzet s: http://www.responsivegridsystem.com/-->
    <link rel="stylesheet" type="text/css" href="~/css/ionicons.min.css"><!--ikone preuzete sa ioicons.com-->
    <link rel="stylesheet" type="text/css" href="~/css/animate.css">

</head>
<body>
    <section class="section-1">
        <div class="row">
            <h2 class="naslov">
                Nova nuspojava
            </h2>
        </div>
        <div class="row">

            <form asp-action="Create" method="POST" class="contact-form">
                <div class="row">
                    <div class="col span-1-of-3">
                        <label asp-for="Name">Naziv</label> <!--ovaj for spaja labelu s inputom kad se odabere-->
                    </div>
                    <div class="col span-2-of-3">
                        <input asp-for="Name" type="text" required>
                    </div>
                </div>
                <div class="row row-buttons">
                    <div class="col span-1-of-4">
                        <label>&nbsp;</label>
                    </div>
                    <div class="col span-1-of-4">
                        <input type="submit" value="Spremi">
                    </div>
                    <div class="col span-1-of-4 col-odustani">
                        <a asp-controller="SideEffect" asp-action="Index" class="odustani">Odustani</a>
                    </div>

                </div>
            </form>
        </div>
    </section>
</body>
</html>

<style>
    .odustani {
        padding: 8px 0;
        color: #000;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 90%;
        border-bottom: 2px solid transparent;
        transition: border-bottom 0.2s;
    }

        .odustani:hover,
        .odustani:active {
            border-bottom: 2px solid #269017;
        }

    .row-buttons {
        margin-top: 20px;
        margin-left: 70px;
    }

    .col-odustani {
        margin-top: 15px;
    }
</style>

