<li class="dropdown" >
    <a asp-controller="Drugs"
       asp-action="Index"
       class="dropdown-toggle"  data-toggle="dropdown" >Proizvodi<b class="caret"></b></a>
    <ul class="dropdown-menu" id="robo">
        @foreach (var category in Model)
        {
            <li>
                <a asp-controller="Drugs" asp-action="Index"
                   asp-route-category="@category">@category</a>
            </li>
        }
        <li>
            <a asp-controller="Drugs" asp-action="Index" asp-route-category="">Svi proizvodi</a>
        </li>
    </ul>
</li>

<style>


    #robo {
        height: auto !important;
        overflow: visible !important;
    }
    </style>
