<meta charset="utf-8" />

<ul class="nav navbar-nav navbar">
    <li class="nav-item"><a class="navbar-brand" asp-controller="Drugs" asp-action="Index">
    <text id="max">
        <img src="~/images/cross.png" alt="" width="35" height="35" /> Sanitas
    </text>
</a></li>
</ul>





