<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0" />-->
    <!--<link href="~/Search.css" rel="stylesheet" />-->
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/css/site.css">
    <title>Ljekarna Sanitas</title>
</head>

<body>
    <nav>
        <div class="row">
            <a asp-controller="Drugs" asp-action="Index"><img src="~/images/logoafd.png" class="logo-black"></a>
            <ul class="main-nav js--main-nav">
                @await Component.InvokeAsync("CategoryMenu")
                @await Component.InvokeAsync("ManufacturerMenu")
                <li><a asp-controller="Doctor" asp-action="List">Djelatnici</a></li>
                @await Html.PartialAsync("Search")

                @await Html.PartialAsync("_LoginPartial")
                @await Component.InvokeAsync("CartSummary")
            </ul>

        </div>
    </nav>
    @RenderBody()
    <hr />
    <footer>
        <div class="row">
            <p>
                Copyright &copy; 2018 by Sanitas. All rights reserved.
            </p>
        </div>
    </footer>
    @RenderSection("Scripts", required: false)
    <script src="~/js/jquery.waypoints.min.js"></script>

</body>

</html>
<style>
    a {
        font-weight: 300;
        padding: 7px 0;
    }
</style>
<script>
    /*STICKY NAVIGATION*/
    $('header').waypoint(function (direction) {
            $('nav').addClass('sticky');
    }, {
            offset: '60px;'
        });

</script>

