<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<li class="search-container">
    <form asp-controller="Search" asp-action="SearchAction" method="get" class="trazi">
        <input type="text" placeholder="Pretraži.." name="SearchString">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
</li>

<style>
    *:focus { /*za sve klase nakon sto se pritisne na njih*/
        outline: none;
    }
    .search-container {
        float: right;
        margin-left: 25px;
        margin-right:-5px;
    }

    .trazi input[type=text] {
        padding: 6px;
        margin-top: 8px;
        font-size: 17px;
        border: none;
        font-family: 'Lato', 'Arial', sans-serif;
        background-color: #f8f6f6;
        border-radius:10px;
        width:79%;
    }

    .search-container button {
        float: right;
        padding: 6px 10px;
        margin-top: 8px;
        margin-right: 16px;
        background: #fff;
        font-size: 17px;
        border: none;
        cursor: pointer;
        font-family: 'Lato', 'Arial', sans-serif;
    }

        .search-container button:hover {
            background: #fff;
        }

    media screen and (max-width: 600px) {
        .search-container

    {
        float: none;
    }

    .trazi input[type=text], .search-container button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }

    .trazi input[type=text] {
        border: 1px solid #ccc;
    }
    
</style>
