<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0" />-->
    <!--<link href="~/Search.css" rel="stylesheet" />-->
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro">
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <title>Ljekarna Sanitas</title>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" id="robo" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" asp-controller="Drugs" asp-action="Index"><text id="max"><img src="~/images/cross.png" alt="" width="25" height="25" /> Sanitas</text></a>
            </div>

            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    @await Component.InvokeAsync("CategoryMenu")
                    @await Component.InvokeAsync("ManufacturerMenu")
                    @await Html.PartialAsync("_Docs")
                    @await Html.PartialAsync("Search")



                </ul>
                @await Html.PartialAsync("_LoginPartial")
                @await Component.InvokeAsync("CartSummary")


            </div>

            <style>
                body {
                    margin: 0;
                    font-family: Arial, Helvetica, sans-serif;
                }

                .navbar {
                    overflow: hidden;
                    background-color: #333;
                    font-family: Arial;
                }

                    .navbar a {
                        float: left;
                        font-size: 16px;
                        color: white;
                        text-align: center;
                        padding: 14px 16px;
                        text-decoration: none;
                    }

                #robo {
                    overflow: hidden;
                    background-color: #333;
                    z-index: 5;
                }

                    #robo a {
                        float: left;
                        color: #f2f2f2;
                        text-align: center;
                        padding: 14px 16px;
                        text-decoration: none;
                        font-size: 17px;
                    }

                        #robo a:hover {
                            background-color: #ddd;
                            color: black;
                        }

                        #robo a.active {
                            background-color: #4CAF50;
                            color: white;
                        }

                #max {
                    font-size: 20px;
                }
            </style>

            <div class="navbar-collapse collapse">

                </ul>


            </div>
            <!--<div class="navbar-collapse collapse">

            </div>-->
        </div>
    </nav>
    <div class="container body-content">
        <div>
            <div id="tempmessage" class="alert"></div>
            @if (TempData[Constants.Message] != null)
            {
                bool error = false;
                var obj = TempData[Constants.ErrorOccurred];
                if (obj != null)
                {
                    error = (bool)obj;
                }
                <div class="alert @(error ? "alert-danger" : "alert-success")">@TempData[Constants.Message]</div>
            }
        </div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - Sanitas</p>
        </footer>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
