@model ChangePasswordViewModel
<!DOCTYPE html>
<html lang="eng">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/css/StyleSheet.css">
    <link rel="stylesheet" type="text/css" href="~/css/038%20Grid.css"> <!--grid preuzet s: http://www.responsivegridsystem.com/-->
    <link rel="stylesheet" type="text/css" href="~/css/ionicons.min.css"><!--ikone preuzete sa ioicons.com-->
    <link rel="stylesheet" type="text/css" href="~/css/animate.css">

</head>
<body>
    <section class="section-1">
        <div class="row baba">
            <h2 class="naslov">
                Promijeni lozinku
            </h2>
        </div>
        @Html.Partial("_StatusMessage", Model.StatusMessage)
        <div class="row">
            <form method="post" class="contact-form">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="row">
                    <div class="col span-1-of-3">
                        <label asp-for="OldPassword">Trenutna lozinka</label> <!--ovaj for spaja labelu s inputom kad se odabere-->
                    </div>
                    <div class="col span-2-of-3">
                        <input asp-for="OldPassword" type="password" name="oldpassword" id="oldpassword" required>
                        <span asp-validation-for="OldPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col span-1-of-3">
                        <label asp-for="NewPassword">Nova lozinka</label> <!--ovaj for spaja labelu s inputom kad se odabere-->
                    </div>
                    <div class="col span-2-of-3">
                        <input asp-for="NewPassword" type="password" name="newpassword" id="newpassword" required>
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col span-1-of-3">
                        <label asp-for="ConfirmPassword">Potvrdite lozinku</label> <!--ovaj for spaja labelu s inputom kad se odabere-->
                    </div>
                    <div class="col span-2-of-3">
                        <input asp-for="ConfirmPassword" type="password" name="confirmpassword" id="confirmpassword" required>
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col span-1-of-3">
                        <label>&nbsp;</label>
                    </div>
                    <div class="col span-2-of-3">
                        <input type="submit" value="Spremi">
                    </div>
                </div>            </form>
            </div>
        </section>
    </body>
</html>
        @section Scripts {
            @await Html.PartialAsync("_ValidationScriptsPartial")
        }

<style>
    .baba{
        margin-bottom:-25px;
    }
</style>
