@model DrugData.Models.ViewModels.EditCommentViewModel

<form asp-action="UpdateComment" asp-route-id1="@Model.CommentId" asp-route-id2="@Model.Drug.DrugId" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <h2>Uredi</h2>

    <div class="form-group">
        <label asp-for="Content">Sadržaj</label>
        <input asp-for="Content" required="" oninvalid="this.setCustomValidity('Unesite komentar')"
 oninput="setCustomValidity('')" id="da" class="form-control" />
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-primary">Spremi</button>
        <a asp-action="Index">
            <button type="button" class="btn btn-secondary">Odustani</button>
        </a>
    </div>

</form>

<style>
    #da {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        margin-left: 35px display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
</style>

