@model CartViewModel
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore

@if (Model.Cart.DrugCarts.Count > 0 && Context.User.IsInRole("User"))
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a asp-controller="Cart" asp-action="Index">
                <span class="glyphicon glyphicon-shopping-cart"></span>
                <span id="cart-status">
                    @Model.Cart.DrugCarts.Count
                </span>
            </a>
        </li>
        </ul>
}