@model DrugData.Models.ViewModels.EditCategoryViewModel

<form asp-action="Update" asp-route-id="@Model.DiseaseId" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <h2>Uredi</h2>
    <div class="form-group">
        <label asp-for="DiseaseName">Naziv </label>
        <input asp-for="DiseaseName" id="da" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="ICD">Međunarodna klasifikacija bolesti </label>
        <input asp-for="ICD" id="da" maxlength="3" class="form-control">
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-primary">Spremi</button>
        <a asp-action="Index">
            <button type="button" class="btn btn-secondary">Odustani</button>
        </a>
    </div>

</form>

<style>
    #da {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        margin-left: 35px display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
</style>
