@model IEnumerable<Doctor>

<!DOCTYPE html>
<html lang="eng">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/css/StyleSheet.css">
    <link rel="stylesheet" type="text/css" href="~/css/038%20Grid.css"> <!--grid preuzet s: http://www.responsivegridsystem.com/-->
    <link rel="stylesheet" type="text/css" href="~/css/ionicons.min.css"><!--ikone preuzete sa ioicons.com-->
    <link rel="stylesheet" type="text/css" href="~/css/animate.css">

</head>
<body>
    <section class="section-1">
        <div class="row">
            <h2 class="naslov">
                Djelatnici
            </h2>
        </div>


        @foreach (var asset in @Model)
        {

            <div class="row">
                <div class="column1">
                    <div>
                        <center><img src=@asset.ImagePath class="imageCell" height="150px" /></center>
                    </div>
                </div>
                <div class="column2">
                    <div>
                        <h4><b><center>@asset.FullName</center></b></h4>
                    </div>
                    <div>
                        <center>Obrazovanje: @asset.Education</center>
                    </div>
                    <h1></h1>
                    <div>
                        @if (Context.User.Identity.IsAuthenticated && !User.IsInRole("Owner") && !User.IsInRole("Doctor"))
                        {
                            <center><a class="poruka" asp-controller="Message" asp-action="SendTo" asp-route-id="@asset.Id">Pošalji upit</a></center>
                        }
                        else if (!User.IsInRole("Owner") && !User.IsInRole("Doctor"))
                        {

                            <center><a class="poruka" asp-controller="Account" asp-action="Login">Pošalji upit</a></center>

                        }
                    </div>
                </div>
                <div class="column3">
                    <div>
                        <h4><b><center>O ljekarniku:</center></b></h4>
                    </div>
                    <div>
                        @asset.Biography
                    </div>
                </div>

            </div>

        }

    </section>
</body>
</html>


<style>
    * {
        box-sizing: border-box;
    }


    .column1 {
        float: left;
        width: 30%;
        padding: 10px;
        height: 200px; /* Should be removed. Only for demonstration */
    }

    .column2 {
        float: left;
        width: 30%;
        padding: 10px;
        height: 200px; /* Should be removed. Only for demonstration */
    }

    .column3 {
        float: left;
        width: 40%;
        padding: 10px;
        height: 200px; /* Should be removed. Only for demonstration */
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    h4 {
        margin-bottom:12px;
    }

    .poruka:link, .poruka:visited {
        display: inline-block;
        padding: 4px 20px;
        font-weight: 300;
        text-decoration: none;
        border-radius: 200px;
        transition: background-color 0.2s, border 0.2s, color 0.2s; /*postepena promjena kad se predje misem*/
    }

    .poruka:link, .poruka:visited {
        background-color: #269017;
        border: 1px solid #269017;
        color: #fff;
        margin-right: 15px;
        margin-top: 20px;
    }



    .poruka:hover,
    .poruka:active {
        background-color: #3b6124; /*kad se misem prednje preko njega*/
    }

    .poruka:hover,
    .poruka:active {
        border: 1px solid #3b6124;
    }

    
</style>
